@media screen and (max-width: 769px) {

    .items {
		    padding: 64px 0;
        width: 720px;
        flex-wrap: wrap;
        gap: 24px;
    }
	
    .wrapper {
        width: 348px;
        margin-bottom: 16px;
    }
}
